<th:block th:fragment="header">
    <header>
            <div id="top-header">
                <div class="container">
                    <img src="./img/FilmesFlix.png" alt="Logo">
                    <ul class="header-links pull-right">
                        <li><a href="#"><i class="fa fa-dollar"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Início</font></font></a></li>
                        <li><a href="#"><i class="fa fa-user-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gênero</font></font></a></li>
                        <li><a href="#"><i class="fa fa-user-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">kids</font></font></a></li>

                    </ul>
                </div>
            </div>
            <!-- /TOP HEADER -->

            <!-- MAIN HEADER -->
            <div id="header">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <!-- LOGO -->
                        <
                        <div class="col-md-3">div class="header-logo">
                                <a href="#" class="logo">

                                </a>
                            </div>
                        </div>
                        <!-- /LOGO -->

                        <!-- SEARCH BAR -->
                        <div class="col-md-6">
                            <div class="header-search">
                                <form>
                                    <select class="input-select">
                                        <option value="0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Todas as categorias</font></font></option>
                                        <option value="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Categoria 01</font></font></option>
                                        <option value="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Categoria 02</font></font></option>
                                    </select>
                                    <input class="input" placeholder="Pesquise aqui">
                                    <button class="search-btn"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Procurar</font></font></button>
                                </form>
                            </div>
                        </div>

                                <!-- Cart -->
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Seu carrinho</font></font></span>
                                        <div class="qty"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></div>
                                    </a>
                                    <div class="cart-dropdown">
                                        <div class="cart-list">
                                            <div class="product-widget">
                                                <div class="product-img">
                                                    <img src="./img/product01.png" alt="">
                                                </div>
                                                <div class="product-body">
                                                    <h3 class="product-name"><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Filme</font></font></a></h3>
                                                    <h4 class="product-price"><span class="qty"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1x</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> $ 980,00</font></font></h4>
                                                </div>
                                                <button class="delete"><i class="fa fa-close"></i></button>
                                            </div>

                                            <div class="product-widget">
                                                <div class="product-img">
                                                    <img src="./img/product02.png" alt="">
                                                </div>
                                                <div class="product-body">
                                                    <h3 class="product-name"><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">nome do produto vai aqui</font></font></a></h3>
                                                    <h4 class="product-price"><span class="qty"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3x</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> $ 980,00</font></font></h4>
                                                </div>
                                                <button class="delete"><i class="fa fa-close"></i></button>
                                            </div>
                                        </div>
                                        <div class="cart-summary">
                                            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3 itens selecionados</font></font></small>
                                            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">SUBTOTAL: $ 2.940,00</font></font></h5>
                                        </div>
                                        <div class="cart-btns">
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ver carrinho</font></font></a>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Confira  </font></font><i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Cart -->

                                <!-- Menu Toogle -->
                                <div class="menu-toggle">
                                    <a href="#">
                                        <i class="fa fa-bars"></i>
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Menu</font></font></span>
                                    </a>
                                </div>
                                <!-- /Menu Toogle -->
                            </div>
                        </div>
                        <!-- /ACCOUNT -->
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
            <!-- /MAIN HEADER -->
    </header>
</th:block>
