
:root {
    --primary-color-300: #21222D;
    --primary-color-500: #15161D;
    --secondary-color-500: #DC3545;
}


html, body {
    width: 1fr;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    /*height: 100%;*/
}

.header {
    display: block;
    padding: 1rem 6rem;
    background-color: var(--primary-color-500);
    color: white;
    max-height: 6rem;
    border-bottom: 2px solid var(--secondary-color-500);
}

.header-container {
    display: grid;
    grid-template-columns: 14rem 1fr 20rem;
    align-items: center;
}

.header-options {
    grid-column: 3 / span 1;
    display: flex;
    flex-direction: row-reverse;
}

.cart-icon {
    position: relative;
    left: -5px;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img{
    border-radius: 0px;
}
.card{
    overflow: hidden;
    height: 100% !important;
}
.description{
    max-height: 10rem;
    overflow: hidden;
}
.card-img{
    object-fit: cover;
    min-height: 10rem;
    max-height: 10rem;
    border-radius: 0px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a.btn{
    background-color: var(--primary-color-500);
    color: white;
    width: 100%;
}
a.btn:hover{
    background-color: var(--primary-color-300);
    color: white;
}

.footer {
    background-color: var(--primary-color-500);
    color: white;
}

.header-options a,
.header-options a:visited{
    color: white;
    fill: white;
}

.logo {
    display: flex;
    align-items: center;
    height: 2rem;
    font-size: 2rem;
    font-weight: bold;
    overflow: hidden;
}

.logo span {
    line-height: 1;
}

.logo .dot {
    font-size: 4rem;
    position: relative;
    color: var(--secondary-color-500);
    top: -0.2em;
}

.logo .com {
    font-size: 1.5rem;
    position: relative;
    /*color: var(--secondary-color-500);*/
    top: 0.1em;
}

main.cadastro, main.editar {
    width: 1fr;
    padding: 4rem 15rem;
}

.cadastro-container, .editar-container {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.cadastro-container form, .editar-container form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.cadastro-container form button, .editar-container form button {
    margin-top: 2.5rem;
    background-color: var(--primary-color-500);
    color: white;
}

.cadastro-container form button:hover, .editar-container form button:hover{
    background-color: var(--primary-color-300);
    color: white;
}

.cadastro-container label, .editar-container label{
    display: flex;
    flex-direction: column;
}

.cadastro-container-header, .editar-container-header {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    background-color: var(--primary-color-500);
    border-bottom: 2px solid var(--secondary-color-500);
    padding: 0.5rem;
}

main.catalogo {
    padding: 4rem 6rem;
}

.catalogo-grid {
    display: grid;
    width: 100%;
    max-width: 100%;
    min-height: 24rem;
    height: 100%;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.input-error {
    color: var(--secondary-color-500);
}

@media (max-width: 845px) {
    .catalogo-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 767px) {
    .catalogo-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 512px) {
    .catalogo-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}