<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div th:fragment="header(count, username, isAuthenticated)" class="header">
        <div class="header-container">
            <div class="logo">
                <span>Filmes</span>
                <span class="dot">.</span>
                <span class="com">com</span>
            </div>
            <div class="header-options">
                <div th:replace="fragments :: cart(${count})"></div>
                <div class="d-flex align-items-center">
                    <span th:text="${username}"></span>
                </div>
                <div th:if="${isAuthenticated}">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn">Logout</button>
                    </form>
                </div>
                <div class="btn-group" th:unless="${isAuthenticated}">
                    <a th:href="@{/login}" class="btn">Login</a>
                    <a th:href="@{/cadUsuario}" class="btn">Cadastre-se</a>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="header-admin(username, isAuthenticated)" class="header">
        <div class="header-container">
            <div class="logo">
                <span>Filmes</span>
                <span class="dot">.</span>
                <span class="com">com</span>
            </div>
            <div class="header-options">
                <div class="d-flex align-items-center">
                    <span th:text="${username}"></span>
                </div>
                <div th:if="${isAuthenticated}">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </div>
                <div class="btn-group" th:unless="${isAuthenticated}">
                    <a th:href="@{/login}" class="btn">Login</a>
                    <a th:href="@{/cadUsuario}" class="btn">Cadastre-se</a>
                </div>
            </div>
        </div>
    </div>

    <a th:href="@{'/verCarrinho'}" th:fragment="cart(count)" class="position-relative text-decoration-none cart">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cart cart-icon" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                <span th:text="${count}"></span>
                <span class="visually-hidden">unread messages</span>
            </span>
        </div>
        <span>
            Carrinho
        </span>
    </a>


    <div th:fragment="card(filme)" class="card">
        <img th:src="@{${filme.imageUrl}}" alt="Imagem" class="card-img" />
        <div class="card-body" >
            <div>
                <div class="d-flex justify-content-center"><h5 class="card-title text-center" th:text="${filme.title}">Nome do Produto</h5></div>
                <div class="d-flex justify-content-center"><p class="card-text text-center" th:text="${filme.genre}">Gênero</p></div>
            </div>
            <div>
                <div class="d-flex justify-content-end"><p class="preco" th:text="'R$ ' + ${filme.price}">Preço</p></div>
                <a th:href="@{'/adicionarCarrinho/' + ${filme.id}}" class="btn">Adicionar ao Carrinho</a>
            </div>
        </div>
    </div>

    <footer th:fragment="footer" class="footer">
        <div class="d-flex justify-content-center">
            <p>&copy;
                <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}">2025</span> Filmes.com. Todos os direitos reservados.
            </p>
        </div>
        <div class="d-flex justify-content-center">
            <p>
            <a href="#" class="text">Política de Privacidade</a> |
            <a href="#" class="text-2">Termos de Uso</a>
            </p>
        </div>
    </footer>
</body>
</html>
